@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;600&display=swap');

body {
    font-family: 'Barlow', sans-serif;
}

:root {
    --secondary-color: #b190f0;
    --accent-color: lightcoral;
    --main-color: #707070;
    --light-color: white;
}